// Backgroung colors
.background {
    &-olive {
        background-color: olive !important;
    }

    &-light-olive {
        background-color: rgb(252, 252, 239) !important;
    }

    &-very-light-olive {
        background-color: rgb(252, 252, 239) !important;
    }

    &-grey {
        background-color: rgb(124, 124, 124) !important;
    }
}


// Gaps
.flex-gap {
    &-10 {
        gap: 10px;
    }

    &-0 {
        gap: 0px;
    }
}