// Backgroung colors
.background {
    &-olive {
        background-color: olive;
    }

    &-light-olive {
        background-color: rgb(252, 252, 239);
    }

    &-grey {
        background-color: rgb(124, 124, 124);
    }
}

// Color

.color {
    &-white {
        color: white;
    }
}

// Gaps
.flex-gap {
    &-10 {
        gap: 10px;
    }

    &-0 {
        gap: 0px;
    }
}